<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<!-- Owl Magnific Min CSS --> 
		<link rel="stylesheet" href="assets/css/magnific-popup.min.css">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="assets/css/animate.min.css">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="assets/css/boxicons.min.css"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="assets/css/flaticon.css">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="assets/css/meanmenu.min.css">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="assets/css/nice-select.min.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/img/favicon.png">
		<!-- Title -->
		<title>Linka - Modern Blog & Magazine HTML Template</title>
    </head>

    <body>
		
		<!-- Start Header Area -->
		<header class="header-area">
			<div class="top-header">
				<div class="container">
					<span>New</span>
					<p> Breaking news - U.S., China Move on From Year of the Spat: Global Economy Week!</p>
					<a href="post-style-one.html" class="read-more">
						Read More
					</a>
				</div>
			</div>

			<div class="middle-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="middle-menu-one">
								<ul>
									<li>
										<a href="video.html">Video</a>
									</li>
									<li>
										<a href="contact.html">Contact</a>
									</li>
									<li>
										<a href="#">Buy Theme</a>
									</li>
								</ul>
							</div>
						</div>
	
						<div class="col-lg-6 col-md-6">
							<div class="middle-menu-two">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#contactModal">Subscribe</a>
									</li>
									<li>
										<a href="author.html">Author</a>
									</li>
									<li>
										<a href="log-in.html">Log In</a>
									</li>
									<li>
										<a href="sign-in.html">Sign In</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4">
							<ul>
								<li>
									<a href="#"><i class="bx bxl-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="bx bxl-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="bx bxl-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="bx bxl-youtube"></i></a>
								</li>
							</ul>
						</div>

						<div class="col-lg-4 col-md-4">
							<a class="logo-title" href="index.html">The Linka News</a>
						</div>

						<div class="col-lg-4 col-md-4">
							<div class="others-option">
								<div class="cart">
									<a href="cart.html">
										<i class="bx bx-cart bx-flip-horizontal"></i>
										<span class="cart-count">3</span>
									</a>
								</div>

								<div class="option-item">
									<i class="search-btn bx bx-search"></i>
									<i class="close-btn bx bx-x"></i>
									
									<div class="search-overlay search-popup">
										<div class='search-box'>
											<form class="search-form">
												<input class="search-input" name="search" placeholder="Search" type="text">

												<button class="search-button" type="submit"><i class="bx bx-search"></i></button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="navbar-area navbar-area-four">
			<!-- Menu For Mobile Device -->
			<div class="mobile-nav">
				<a href="index.html" class="logo">
					<img src="assets/img/logo.png" alt="Logo">
				</a>
			</div>

			<!-- Menu For Desktop Device -->
			<div class="main-nav">
				<nav class="navbar navbar-expand-md">
					<div class="container">
						<div class="collapse navbar-collapse mean-menu">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="#" class="nav-link active">
										Home
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="index.html" class="nav-link">Home One (Life Style)</a>
										</li>
										<li class="nav-item">
											<a href="index-2.html" class="nav-link">Home Two (Technology)</a>
										</li>
										<li class="nav-item">
											<a href="index-3.html" class="nav-link">Home Three (Business)</a>
										</li>
										<li class="nav-item">
											<a href="index-4.html" class="nav-link active">Home Four (Newspaper)</a>
										</li>
										<li class="nav-item">
											<a href="index-5.html" class="nav-link">Home Five (Fashion)</a>
										</li>
										<li class="nav-item">
											<a href="index-6.html" class="nav-link">Home Six (Travel)</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Pages
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="#" class="nav-link">
												Post With Sidebar
												<i class="bx bx-chevron-right"></i>
											</a>
	
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="post-style-one.html" class="nav-link">Post Style One</a>
												</li>
												<li class="nav-item">
													<a href="post-style-two.html" class="nav-link">Post Style Two</a>
												</li>
												<li class="nav-item">
													<a href="post-style-three.html" class="nav-link">Post Style Three</a>
												</li>
												<li class="nav-item">
													<a href="post-style-four.html" class="nav-link">Post Style Four</a>
												</li>
												<li class="nav-item">
													<a href="post-style-five.html" class="nav-link">Post Style Five</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												Post Without Sidebar
												<i class="bx bx-chevron-right"></i>
											</a>
	
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="post-style-six.html" class="nav-link">Post Style Six</a>
												</li>
												<li class="nav-item">
													<a href="post-style-seven.html" class="nav-link">Post Style Seven</a>
												</li>
												<li class="nav-item">
													<a href="post-style-eight.html" class="nav-link">Post Style Eight</a>
												</li>
												<li class="nav-item">
													<a href="post-style-nine.html" class="nav-link">Post Style Nine</a>
												</li>
												<li class="nav-item">
													<a href="post-style-ten.html" class="nav-link">Post Style Ten</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												Shop
												<i class="bx bx-chevron-right"></i>
											</a>
	
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="shop.html" class="nav-link">Shop</a>
												</li>
												<li class="nav-item">
													<a href="cart.html" class="nav-link">Cart</a>
												</li>
												<li class="nav-item">
													<a href="checkout.html" class="nav-link">Checkout</a>
												</li>
												<li class="nav-item">
													<a href="product-details.html" class="nav-link">Product Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												User
												<i class="bx bx-chevron-right"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="log-in.html" class="nav-link">Log In</a>
												</li>
												<li class="nav-item">
													<a href="sign-in.html" class="nav-link">Sign In</a>
												</li>
												<li class="nav-item">
													<a href="recover-password.html" class="nav-link">Recover Password</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="author.html" class="nav-link">Author Page</a>
										</li>

										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>

										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>

										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>

										<li class="nav-item">
											<a href="404.html" class="nav-link">404 Error Page</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Features
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="full-width-blog.html" class="nav-link">Full Width Blog</a>
										</li>
										<li class="nav-item">
											<a href="left-sidebar.html" class="nav-link">Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="right-sidebar.html" class="nav-link">Right Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="gallery.html" class="nav-link">Gallery</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="video.html" class="nav-link">Video</a>
								</li>

								<li class="nav-item">
									<a href="review.html" class="nav-link">Review</a>
								</li>
								
								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Header Area -->

		<!-- Start Modal Area -->
        <div class="modal fade contactModal" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="modal-body">
						<div class="subscribe-wrap">
							<form class="newsletter-form" data-toggle="validator">
								<input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">

								<button class="default-btn" type="submit">
									Subscribe
								</button>

								<div id="validator-newsletter" class="form-result"></div>
							</form>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal Area -->
		
		<!-- Start Linka Top News Area -->
		<section class="linka-top-news-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<div class="row">
							<div class="col-lg-12 col-md-6">
								<div class="single-top-news">
									<div class="top-news-img">
										<a href="post-style-one.html">
											<img src="assets/img/home-four/linka-top-news/1.jpg" alt="Image">
										</a>
										<span>Politics</span>
									</div>

									<div class="linka-news-content">
										<a href="post-style-one.html">
											<h3>What to Do if You Overspent During the Holidays</h3>
										</a>

										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-6">
								<div class="single-top-news">
									<div class="top-news-img">
										<a href="post-style-one.html">
											<img src="assets/img/home-four/linka-top-news/2.jpg" alt="Image">
										</a>
										<span>Politics</span>
									</div>

									<div class="linka-news-content">
										<a href="post-style-one.html">
											<h3>What to Do if You Overspent During the Holidays</h3>
										</a>

										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="single-top-news">
							<div class="top-news-img">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/linka-top-news/3.jpg" alt="Image">
								</a>
								<span>Politics</span>
							</div>

							<div class="linka-news-content">
								<a href="post-style-one.html">
									<h3>Amid protests, Pentagon Squirms Under Pressure to do Trump's.</h3>
								</a>
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam assumenda praesentium ut quo vel autem quod, nesciunt id et mollitia consequatur ipsam.</p>

								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											By Jhona Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html" class="read-more">
									Read More
								</a>
							</div>
						</div>
					</div>

					<div class="col-lg-3">
						<div class="row">
							<div class="col-lg-12 col-md-6">
								<div class="single-top-news">
									<div class="top-news-img">
										<a href="post-style-one.html">
											<img src="assets/img/home-four/linka-top-news/4.jpg" alt="Image">
										</a>
										<span>Politics</span>
									</div>

									<div class="linka-news-content">
										<a href="post-style-one.html">
											<h3>What to Do if You Overspent During the Holidays</h3>
										</a>

										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-6">
								<div class="single-top-news">
									<div class="top-news-img">
										<a href="post-style-one.html">
											<img src="assets/img/home-four/linka-top-news/5.jpg" alt="Image">
										</a>
										<span>Politics</span>
									</div>

									<div class="linka-news-content">
										<a href="post-style-one.html">
											<h3>What to Do if You Overspent During the Holidays</h3>
										</a>

										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Linka Top News Area -->

		<!-- Start Latest Project Area -->
		<section class="latest-project-area pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Recent News</h2>
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html" class="blog-img">
										<img src="assets/img/home-four/recent-news/1.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>

										<a href="post-style-one.html">
											<h3>Relationships Aren’t Easy, But They’re Worth It</h3>
										</a>

										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>
			
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html"  class="blog-img">
										<img src="assets/img/home-four/recent-news/2.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Kilva Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												26 Jun 2020
											</li>
										</ul>

										<a href="post-style-one.html">
											<h3>Want to Strengthen Your Relationship? Embrace the Little Things</h3>
										</a>

										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>
			
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html"  class="blog-img">
										<img src="assets/img/home-four/recent-news/3.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By  Jexk Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												27 Jun 2020
											</li>
										</ul>

										<a href="post-style-one.html">
											<h3>Slice of Tokyo: How Japan Became a Pizza Hotshot</h3>
										</a>

										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>
			
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html"  class="blog-img">
										<img src="assets/img/home-four/recent-news/4.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By  Anna Dew
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												28 Jun 2020
											</li>
										</ul>

										<a href="post-style-one.html">
											<h3>I Thought My Glasses Made Me Unattractiveness</h3>
										</a>

										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur, eaque aliquid recusandae expedita. Porro dicta delectus</p>
			
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="latest-project-right-sidebar">
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/recent-news/5.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>Advantage & Disadvantages of having Matchbook</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/recent-news/6.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/recent-news/7.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Expert's Guide To Surviving long Haul Flights</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>

							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/recent-news/6.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="light-news mb-30">
								<img src="assets/img/home-four/recent-news/8.jpg" alt="Image">
	
								<div class="light-news-content">
									<a href="post-style-one.html">
										<h3>What Would It Take To Shut-down the Internet</h3>
									</a>
	
									<ul>
										<li>
											<a href="#" class="admin">
												<i class="bx bx-user"></i>
												By Admon Altk Walker
											</a>
										</li>
										<li>
											<i class="bx bx-calendar"></i>
											30 Jun 2020
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Latest Project Area -->

		<!-- Start Adds Area -->
		<div class="adds-area pb-100">
			<div class="container">
				<a href="#">
					<img src="assets/img/home-three/adds.jpg" alt="Image">
				</a>
			</div>
		</div>
		<!-- End Adds Area -->

		<!-- Start Live News Stream Area -->
		<section class="live-news-stream-area pt-100 pb-70">
			<div class="container">
				<div class="video-stream text-center pb-100">
					<a href="https://www.youtube.com/watch?v=mLVJr1au7uY" class="popup-youtube video-btn">
						<i class="bx bxs-video"></i>
					</a>
					<h3 class="live-start">Live News Stream</h3>
				</div>

				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="right-blog-editor pt-0 pb-0">
							<a href="post-style-one.html">
								<img src="assets/img/home-two/blog-list/1.jpg" alt="Image">
							</a>

							<div class="right-blog-content">
								<a href="blog-detauls.html">
									<h3>Advantage & Disadvantages of having Matchbook</h3>
								</a>
	
								<span>
									<i class="bx bx-calendar"></i>
									25 Jun 2020
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="right-blog-editor pt-0 pb-0">
							<a href="post-style-one.html">
								<img src="assets/img/home-two/blog-list/2.jpg" alt="Image">
							</a>

							<div class="right-blog-content">
								<a href="blog-detauls.html">
									<h3>The Scariest Moment is Always Just Before You</h3>
								</a>
	
								<span>
									<i class="bx bx-calendar"></i>
									26 Jun 2020
								</span>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
						<div class="right-blog-editor pt-0 pb-0">
							<a href="post-style-one.html">
								<img src="assets/img/home-two/blog-list/3.jpg" alt="Image">
							</a>

							<div class="right-blog-content">
								<a href="blog-detauls.html">
									<h3>The Expert's Guide To Surviving long Haul Flights</h3>
								</a>
	
								<span>
									<i class="bx bx-calendar"></i>
									27 Jun 2020
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Live News Stream Area -->

		<!-- Start Latest Project Area -->
		<section class="latest-project-area four pt-100 pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Politics News</h2>
				</div>
				
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-four/politics/1.jpg" alt="Image">
								<span>Cases</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jhona Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>Understanding your dog for dummies cheatsheet</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-four/politics/2.jpg" alt="Image">
								<span>Protestor</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Kilva Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</li>
								</ul>
								
								<a href="post-style-one.html">
									<h3>The End of the Bonus Culture Come to Street</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-four/politics/3.jpg" alt="Image">
								<span>Televison</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>Joy is a Net of Love by Which You Can Catch Souls</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-four/politics/4.jpg" alt="Image">
								<span>Television</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>Family-owned Florist Business Looks to Bloom in Chesterton</h3>
								</a>

								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-four/politics/5.jpg" alt="Image">
								<span>news</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>
								

								<a href="post-style-one.html">
									<h3>The Scariest Moment is Always Just Before You Start</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-four/politics/6.jpg" alt="Image">
								<span>news</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>Going Bald Taught Me Not to Care About Stupid Shit</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Latest Project Area -->

		<!-- Start Economics News Area -->
		<section class="economics-area pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Current Events</h2>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="single-featured">
							<a href="post-style-one.html">
								<img src="assets/img/home-four/events/1.jpg" alt="Image">
							</a>

							<div class="featured-content">
								<a href="post-style-one.html">
									<h3>And a Lonely Stranger Has Spoke To Me Ever Science of Technology</h3>
								</a>

								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur consectetur adipisicing elit Lorem ipsum dolor sit.</p>
	
								<ul class="mb-0">
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jhona Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/events/2.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Facebook takes down white nationalist and fake anita account</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/events/3.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Understanding your dog for dummies cheatsheet</h3>
									</a>
	
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/events/4.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Is the Natural Hair Movement Coming to an End?</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/events/5.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Genderless Kei – Japan’s Hot New Fashion Trend</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Economics News Area -->

		<!-- Start Latest Article Area -->
		<section class="latest-article-area pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Latest Article</h2>
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/article/1.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Politics
										</span>
										<a href="post-style-one.html">
											<h3>The Scariest Moment is Always Just Before You Start</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/article/2.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Army
										</span>
										<a href="post-style-one.html">
											<h3>Do You Want Stronger Friendships, a More Balanced Mindset?</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/article/3.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Tech
										</span>
										<a href="post-style-one.html">
											<h3>The Expert’s Guide to Surviving Long Haul Flights</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/article/4.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											News
										</span>
										<a href="post-style-one.html">
											<h3>Barack Obama’s year in film: from The Irishman to Amazing</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/article/5.jpg" alt="Image">
									</a>
								</div>	
								
								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Television
										</span>
										<a href="post-style-one.html">
											<h3>Do You Want Stronger Friendships, a More Balanced</h3>
										</a>

										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-four/article/1.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Politics
										</span>
										<a href="post-style-one.html">
											<h3>The Scariest Moment is Always Just Before You Start</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="right-blog-article-wrap-three">
							<h3 class="latest-post-sub-title">Latest Post</h3>

							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/article/6.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>Advantage & Disadvantages of having Matchbook</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/article/7.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/article/8.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Expert's Guide To Surviving long Haul Flights</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>

							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/article/9.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>Advantage & Disadvantages of having Matchbook</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/article/10.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-four/article/11.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Expert's Guide To Surviving long Haul Flights</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
						</div>

						<div class="categories-area">
							<h3 class="categories-title">
								Categories
							</h3>

							<div class="categories-item bg-1">
								<a href="#" class="default-btn"> 
									Politics News
								</a>
							</div>
							<div class="categories-item bg-2">
								<a href="#" class="default-btn"> 
									Business
								</a>
							</div>
							<div class="categories-item bg-3">
								<a href="#" class="default-btn"> 
									Breaking News
								</a>
							</div>
							<div class="categories-item bg-4 mb-0">
								<a href="#" class="default-btn"> 
									Creative
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Latest Article Area -->

		<!-- Start Footere Area -->
		<footer class="footer-area-four ptb-100">
			<div class="container">
				<div class="footer-wrap">
					<img src="assets/img/logo.png" alt="Image">

					<ul class="social">
						<li>
							<a href="#" target="_blank">
								<i class="bx bxl-facebook"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="bx bxl-twitter"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="bx bxl-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="bx bxl-youtube"></i>
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="bx bxl-instagram"></i>
							</a>
						</li>
					</ul>

					<ul class="important-links">
						<li>
							<a href="author.html">
								Author
							</a>
						</li>
						<li>
							<a href="full-width-blog.html">
								Full Width Blog
							</a>
						</li>
						<li>
							<a href="video.html">
								Video
							</a>
						</li>
						<li>
							<a href="contact.html">
								Contact
							</a>
						</li>
					</ul>

					<p>Copyright <i class="bx bx-copyright"></i>2021 Linka. Designed By<a href="https://envytheme.com/" target="blank"> EnvyTheme</a></p>
				</div>
			</div>
		</footer>
		<!-- End Footere Area -->
		
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up'></i>
			<i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End Go Top Area -->
		

        <!-- Jquery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle Min JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu Min JS -->
		<script src="assets/js/meanmenu.min.js"></script>
        <!-- Wow Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Owl Carousel Min JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
        <!-- Owl Magnific Min JS -->
		<script src="assets/js/magnific-popup.min.js"></script>
        <!-- Nice Select Min JS -->
		<script src="assets/js/nice-select.min.js"></script>
		<!-- Form Validator Min JS -->
		<script src="assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
		<script src="assets/js/contact-form-script.js"></script>
		<!-- Ajaxchimp Min JS -->
		<script src="assets/js/ajaxchimp.min.js"></script>
        <!-- Custom JS -->
		<script src="assets/js/custom.js"></script>
    </body>
</html>