<!doctype html>
<html lang="zxx">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap Min CSS --> 
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<!-- Owl Theme Default Min CSS --> 
		<link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
		<!-- Owl Carousel Min CSS --> 
		<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
		<!-- Owl Magnific Min CSS --> 
		<link rel="stylesheet" href="assets/css/magnific-popup.min.css">
		<!-- Animate Min CSS --> 
		<link rel="stylesheet" href="assets/css/animate.min.css">
		<!-- Boxicons Min CSS --> 
		<link rel="stylesheet" href="assets/css/boxicons.min.css"> 
		<!-- Flaticon CSS --> 
		<link rel="stylesheet" href="assets/css/flaticon.css">
		<!-- Meanmenu Min CSS -->
		<link rel="stylesheet" href="assets/css/meanmenu.min.css">
		<!-- Nice Select Min CSS -->
		<link rel="stylesheet" href="assets/css/nice-select.min.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="assets/css/style.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="assets/css/responsive.css">
		
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="assets/img/favicon.png">
		<!-- Title -->
		<title>Linka - Modern Blog & Magazine HTML Template</title>
    </head>

    <body>
		
		<!-- Start Navbar Area -->
		<div class="navbar-area navbar-area-two">
			<!-- Menu For Mobile Device -->
			<div class="mobile-nav">
				<a href="index.html" class="logo">
					<img src="assets/img/logo.png" alt="Logo">
				</a>
			</div>

			<!-- Menu For Desktop Device -->
			<div class="main-nav">
				<nav class="navbar navbar-expand-md">
					<div class="container">
						<a class="navbar-brand" href="index.html">
							<img src="assets/img/black-logo.png" alt="Logo">
						</a>
						
						<div class="collapse navbar-collapse mean-menu">
							<ul class="navbar-nav m-auto">
								<li class="nav-item">
									<a href="#" class="nav-link active">
										Home
										<i class="bx bx-chevron-down"></i>
									</a>
									
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="index.html" class="nav-link">Home One (Life Style)</a>
										</li>
										<li class="nav-item">
											<a href="index-2.html" class="nav-link">Home Two (Technology)</a>
										</li>
										<li class="nav-item">
											<a href="index-3.html" class="nav-link active">Home Three (Business)</a>
										</li>
										<li class="nav-item">
											<a href="index-4.html" class="nav-link">Home Four (Newspaper)</a>
										</li>
										<li class="nav-item">
											<a href="index-5.html" class="nav-link">Home Five (Fashion)</a>
										</li>
										<li class="nav-item">
											<a href="index-6.html" class="nav-link">Home Six (Travel)</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Pages
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="#" class="nav-link">
												Post With Sidebar
												<i class="bx bx-chevron-right"></i>
											</a>
	
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="post-style-one.html" class="nav-link">Post Style One</a>
												</li>
												<li class="nav-item">
													<a href="post-style-two.html" class="nav-link">Post Style Two</a>
												</li>
												<li class="nav-item">
													<a href="post-style-three.html" class="nav-link">Post Style Three</a>
												</li>
												<li class="nav-item">
													<a href="post-style-four.html" class="nav-link">Post Style Four</a>
												</li>
												<li class="nav-item">
													<a href="post-style-five.html" class="nav-link">Post Style Five</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												Post Without Sidebar
												<i class="bx bx-chevron-right"></i>
											</a>
	
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="post-style-six.html" class="nav-link">Post Style Six</a>
												</li>
												<li class="nav-item">
													<a href="post-style-seven.html" class="nav-link">Post Style Seven</a>
												</li>
												<li class="nav-item">
													<a href="post-style-eight.html" class="nav-link">Post Style Eight</a>
												</li>
												<li class="nav-item">
													<a href="post-style-nine.html" class="nav-link">Post Style Nine</a>
												</li>
												<li class="nav-item">
													<a href="post-style-ten.html" class="nav-link">Post Style Ten</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												Shop
												<i class="bx bx-chevron-right"></i>
											</a>
	
											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="shop.html" class="nav-link">Shop</a>
												</li>
												<li class="nav-item">
													<a href="cart.html" class="nav-link">Cart</a>
												</li>
												<li class="nav-item">
													<a href="checkout.html" class="nav-link">Checkout</a>
												</li>
												<li class="nav-item">
													<a href="product-details.html" class="nav-link">Product Details</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												User
												<i class="bx bx-chevron-right"></i>
											</a>

											<ul class="dropdown-menu">
												<li class="nav-item">
													<a href="log-in.html" class="nav-link">Log In</a>
												</li>
												<li class="nav-item">
													<a href="sign-in.html" class="nav-link">Sign In</a>
												</li>
												<li class="nav-item">
													<a href="recover-password.html" class="nav-link">Recover Password</a>
												</li>
											</ul>
										</li>

										<li class="nav-item">
											<a href="author.html" class="nav-link">Author Page</a>
										</li>

										<li class="nav-item">
											<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
										</li>

										<li class="nav-item">
											<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
										</li>

										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>

										<li class="nav-item">
											<a href="404.html" class="nav-link">404 Error Page</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="#" class="nav-link">
										Features
										<i class="bx bx-chevron-down"></i>
									</a>

									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="full-width-blog.html" class="nav-link">Full Width Blog</a>
										</li>
										<li class="nav-item">
											<a href="left-sidebar.html" class="nav-link">Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="right-sidebar.html" class="nav-link">Right Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="gallery.html" class="nav-link">Gallery</a>
										</li>
									</ul>
								</li>

								<li class="nav-item">
									<a href="video.html" class="nav-link">Video</a>
								</li>

								<li class="nav-item">
									<a href="review.html" class="nav-link">Review</a>
								</li>
								
								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
							</ul>
							
							<!-- Start Other Option -->
							<div class="others-option">
								<div class="cart">
									<a href="cart.html">
										<i class="bx bx-cart bx-flip-horizontal"></i>
										<span class="cart-count">3</span>
									</a>
								</div>

								<div class="option-item">
									<i class="search-btn bx bx-search"></i>
									<i class="close-btn bx bx-x"></i>
									
									<div class="search-overlay search-popup">
										<div class='search-box'>
											<form class="search-form">
												<input class="search-input" name="search" placeholder="Search" type="text">

												<button class="search-button" type="submit"><i class="bx bx-search"></i></button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- End Other Option -->
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- End Navbar Area -->

		<!-- Start Banner Area -->
		<section class="banner-area-three">
			<div class="banner-slider-wrap owl-carousel owl-theme">
				<div class="banner-item-area">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container">
								
								<div class="banner-text one">
									<span>News</span>
									<h1>If You Were A Start Business From Search Tomorrow</h1>
									
									<ul>
										<li>
											<a href="#" class="admin">
												<i class="bx bx-user"></i>
												By Jhona Walker
											</a>
										</li>
										<li>
											<i class="bx bx-calendar"></i>
											25 Jun 2020
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="banner-item-area">
					<div class="d-table">
						<div class="d-table-cell">
							<div class="container">
								<div class="banner-text two">
									<span>News</span>
									<h1>The Best Dog Tech & Accessories</h1>
									
									<ul>
										<li>
											<a href="#" class="admin">
												<i class="bx bx-user"></i>
												By Jhona Walker
											</a>
										</li>
										<li>
											<i class="bx bx-calendar"></i>
											25 Jun 2020
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->

		<!-- Start Main Blog List Area -->
		<section class="blog-list-area-three pb-100">
			<div class="container">
				<div class="blog-list-wrap mt-minus-100">
					<div class="row">
						<div class="col-lg-4 col-sm-6">
							<div class="right-blog-editor">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/blog-item/1.jpg" alt="Image">
								</a>
								
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>Developing Self-Control Through The Wonders of Intermittent Fasting</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
						</div>
	
						<div class="col-lg-4 col-sm-6">
							<div class="right-blog-editor">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/blog-item/2.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>And a Lonely Stranger Has Spoke to Me Ever Since</h3>
									</a>
	
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
						</div>
	
						<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
							<div class="right-blog-editor">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/blog-item/3.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>This Week in Business: Flying Uber Pricey French Cheese</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Main Blog List Area -->

		<!-- Start Latest Project Area -->
		<section class="latest-project-area pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Business</h2>
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html" class="blog-img">
										<img src="assets/img/home-three/business/1.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>

										<a href="post-style-one.html">
											<h3>The Supreme Art of War is to Subdue the Enemy Without Fighting </h3>
										</a>
		
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur.</p>
										
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html" class="blog-img">
										<img src="assets/img/home-three/business/2.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Kilva Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												26 Jun 2020
											</li>
										</ul>
										
										<a href="post-style-one.html">
											<h3>No Fixed Abode: Quitting Home Ownership</h3>
										</a>
		
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur.</p>
			
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html" class="blog-img">
										<img src="assets/img/home-three/business/3.jpg" alt="Image">
										<span>Business</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jexk Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												27 Jun 2020
											</li>
										</ul>
										
										<a href="post-style-one.html">
											<h3>Developing Self-Control Through The Wonders of Intermittent Fasting</h3>
										</a>
		
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur.</p>

										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html" class="blog-img">
										<img src="assets/img/home-three/business/4.jpg" alt="Image">
										<span>Economy</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Anna Dew
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												28 Jun 2020
											</li>
										</ul>
										
										<a href="post-style-one.html">
											<h3>The 4 convolution's Neural Network Models That Can Classify</h3>
										</a>
		
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur.</p>
										
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>

							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html" class="blog-img">
										<img src="assets/img/home-three/business/1.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>

										<a href="post-style-one.html">
											<h3>The Supreme Art of War is to Subdue the Enemy Without Fighting </h3>
										</a>
		
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur.</p>
										
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
		
							<div class="col-lg-6 col-md-6">
								<div class="single-featured">
									<a href="post-style-one.html" class="blog-img">
										<img src="assets/img/home-three/business/2.jpg" alt="Image">
										<span>News</span>
									</a>
		
									<div class="featured-content">
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Kilva Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												26 Jun 2020
											</li>
										</ul>
										
										<a href="post-style-one.html">
											<h3>No Fixed Abode: Quitting Home Ownership</h3>
										</a>
		
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur.</p>
			
										<a href="post-style-one.html" class="read-more">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="right-blog-editor-wrap-three">
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/business/7.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>Advantage & Disadvantages of having Matchbook</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/business/8.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/business/9.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Expert's Guide To Surviving long Haul Flights</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
						</div>
						

						<div class="right-blog-editor-wrap-three">
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/business/10.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>Advantage & Disadvantages of having Matchbook</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/business/11.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/business/12.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Expert's Guide To Surviving long Haul Flights</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>

							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/business/13.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Expert's Guide To Surviving long Haul Flights</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Latest Project Area -->

		<!-- Start Economics News Area -->
		<section class="economics-area pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Economics News</h2>
				</div>

				<div class="row">
					<div class="col-lg-6">
						<div class="single-featured">
							<a href="post-style-one.html">
								<img src="assets/img/home-three/economics/1.jpg" alt="Image">
							</a>

							<div class="featured-content">
								<a href="post-style-one.html">
									<h3>Impossibly High Beauty Standards Are Ruining My Self Esteem</h3>
								</a>

								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere laboriosam eveniet debitis tenetur consectetur adipisicing elit Lorem ipsum dolor sit.</p>
	
								<ul class="mb-0">
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											By Admin Jhona Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/economics/2.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Facebook takes down white nationalist and fake anita account.</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
		
							<div class="col-lg-6 col-sm-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/economics/3.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Understanding your dog for dummies cheatsheet</h3>
									</a>
	
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
		
							<div class="col-lg-6 col-sm-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/economics/4.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Is the Natural Hair Movement Coming to an End?</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>

							<div class="col-lg-6 col-sm-6">
								<div class="right-blog-editor pt-0 pb-0">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/economics/5.jpg" alt="Image">
									</a>
		
									<a href="blog-detauls.html">
										<h3>Genderless Kei – Japan’s Hot New Fashion Trend</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Economics News Area -->

		<!-- Start Latest Project Area -->
		<section class="latest-project-area three pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Multimedia</h2>
				</div>

				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-three/multimedia/1.jpg" alt="Image">
								<span>Business</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											By Admin Jhona Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>Understanding your dog for dummies cheatsheet</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-three/multimedia/2.jpg" alt="Image">
								<span>News</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Kilva Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</li>
								</ul>
								
								<a href="post-style-one.html">
									<h3>The End of the Bonus Culture Come to Street</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-three/multimedia/3.jpg" alt="Image">
								<span>Event Meet</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>Joy is a Net of Love by Which You Can Catch Souls</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-three/multimedia/4.jpg" alt="Image">
								<span>Business</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>A Simple Way to Address the Gap Between Attention and Intention</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-three/multimedia/5.jpg" alt="Image">
								<span>News</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											By Admin Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>

								<a href="post-style-one.html">
									<h3>The Supreme Art of War is to Subdue the Enemy Without Fighting</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="single-featured">
							<a href="post-style-one.html" class="blog-img">
								<img src="assets/img/home-three/multimedia/6.jpg" alt="Image">
								<span>Family</span>
							</a>

							<div class="featured-content">
								<ul>
									<li>
										<a href="#" class="admin">
											<i class="bx bx-user"></i>
											Admin By Jexk Walker
										</a>
									</li>
									<li>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</li>
								</ul>
								
								<a href="post-style-one.html">
									<h3>Family-owned Florist Business Looks to Bloom in Chesterton</h3>
								</a>
								
								<a href="post-style-one.html" class="read-more">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Latest Project Area -->

		<!-- Start Latest Article Area -->
		<section class="latest-article-area pb-70">
			<div class="container">
				<div class="section-title">
					<h2>Latest Article</h2>
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/article/1.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Business
										</span>
										<a href="post-style-one.html">
											<h3>Impossibly High Beauty Standards Are Ruining My Self Esteem</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/article/2.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											World
										</span>
										<a href="post-style-one.html">
											<h3>Want to Strengthen Your Relationship? Embrace the Things</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/article/3.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Tech
										</span>
										<a href="post-style-one.html">
											<h3>The Expert’s Guide to Surviving Long Haul Flights</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/article/4.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Business
										</span>
										<a href="post-style-one.html">
											<h3>There is Nothing on This Earth More to Be Prized Than</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													By Admin Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/article/5.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Television
										</span>
										<a href="post-style-one.html">
											<h3>The Supreme Art of War is to Subdue the Enemy Without Fighting</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="single-featured article">
							<div class="row align-items-center">
								<div class="col-lg-5 col-md-6">
									<a href="post-style-one.html">
										<img src="assets/img/home-three/article/1.jpg" alt="Image">
									</a>
								</div>

								<div class="col-lg-7 col-md-6">
									<div class="featured-content">
										<span>
											Business
										</span>
										<a href="post-style-one.html">
											<h3>Impossibly High Beauty Standards Are Ruining My Self Esteem</h3>
										</a>
		
										<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, cum eligendi placeat, nemo aliquam ex esse tenetur illo beatae temporibus ipsum</p>
			
										<ul>
											<li>
												<a href="#" class="admin">
													<i class="bx bx-user"></i>
													Admin By Jhona Walker
												</a>
											</li>
											<li>
												<i class="bx bx-calendar"></i>
												25 Jun 2020
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="right-blog-article-wrap-three">
							<h3 class="latest-post-sub-title">Latest Post</h3>

							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/article/6.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>I Moved Across The Country And Never Looked Back</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/article/7.jpg" alt="Image">
								</a>

								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You Start</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/article/8.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The expert's Guide To Surviving long Haul Flights</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>

							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/article/9.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>Is the Natural Hair Movement Coming to an End?</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										25 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/article/10.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>The Scariest Moment is Always Just Before You</h3>
									</a>
		
									<span>
										<i class="bx bx-calendar"></i>
										26 Jun 2020
									</span>
								</div>
							</div>
	
							<div class="right-blog-editor media align-items-center">
								<a href="post-style-one.html">
									<img src="assets/img/home-three/article/11.jpg" alt="Image">
								</a>
	
								<div class="right-blog-content">
									<a href="blog-detauls.html">
										<h3>I Moved Across the Country and Never Looked Back</h3>
									</a>
									
									<span>
										<i class="bx bx-calendar"></i>
										27 Jun 2020
									</span>
								</div>
							</div>
						</div>

						<div class="categories-area">
							<h3 class="categories-title">
								Categories
							</h3>

							<div class="categories-item bg-1">
								<a href="#" class="default-btn"> 
									Politics News
								</a>
							</div>
							<div class="categories-item bg-2">
								<a href="#" class="default-btn"> 
									Business
								</a>
							</div>
							<div class="categories-item bg-3">
								<a href="#" class="default-btn"> 
									Breaking News
								</a>
							</div>
							<div class="categories-item bg-4 mb-0">
								<a href="#" class="default-btn"> 
									Creative
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Latest Article Area -->

		<!-- Start Footer Top Area -->
		<footer class="footer-top-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="single-widget">
							<a href="index.html">
								<img src="assets/img/black-logo.png" alt="Image">
							</a>

							<p>Lorem ipsum dolor, sit amet earum consectetur adipisicing elit sit. Cupiditate rerum quidem fugiat sapiente! to quae perspiciatis.</p>

							<div class="social-area">
								<ul>
									<li>
										<a href="#" target="_blank">
											<i class="bx bxl-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank">
											<i class="bx bxl-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank">
											<i class="bx bxl-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank">
											<i class="bx bxl-youtube"></i>
										</a>
									</li>
									<li>
										<a href="#" target="_blank">
											<i class="bx bxl-instagram"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<div class="col-lg-3 col-md-6">
						<div class="single-widget">
							<h3>Important Links</h3>

							<ul>
								<li>
									<a href="author.html">
										<i class="bx bx-chevrons-right"></i>
										Author
									</a>
								</li>
								<li>
									<a href="gallery.html">
										<i class="bx bx-chevrons-right"></i>
										Gallery
									</a>
								</li>
								<li>
									<a href="video.html">
										<i class="bx bx-chevrons-right"></i>
										Video
									</a>
								</li>
								<li>
									<a href="full-width-blog.html">
										<i class="bx bx-chevrons-right"></i>
										Blog
									</a>
								</li>
								<li>
									<a href="contact.html">
										<i class="bx bx-chevrons-right"></i>
										Contact
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="single-widget">
							<h3>Featured</h3>

							<ul>
								<li>
									<a href="#">
										<i class="bx bx-chevrons-right"></i>
										It Management
									</a>
								</li>
								<li>
									<a href="#">
										<i class="bx bx-chevrons-right"></i>
										Development
									</a>
								</li>
								<li>
									<a href="#">
										<i class="bx bx-chevrons-right"></i>
										Featured
									</a>
								</li>
								<li>
									<a href="#">
										<i class="bx bx-chevrons-right"></i>
										UI/UX Design 
									</a>
								</li>
								<li>
									<a href="#">
										<i class="bx bx-chevrons-right"></i>
										Support Engineer
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-lg-3 col-md-6">
						<div class="single-widget contact">
							<h3>Get In Touch</h3>

							<ul>
								<li>
									<i class="bx bx-phone-call"></i>
									<span>Hotline:</span> 
									<a href="tel:+61-821-456">
										+61-821-456
									</a>
								</li>
								
								<li>
									<i class="bx bx-envelope"></i>
									<span>Email:</span> 
									<a href="mailto:hello@Linka.com">
										hello@Linka.com
									</a>
								</li>
								
								<li>
									<i class="bx bx-location-plus"></i>
									<span>Address:</span> 
									123, Western Road, Melbourne Australia
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer Top Area -->

		<!-- Start Footer Bottom Area -->
		<footer class="footer-bottom-area">
			<div class="container">
				<div class="copy-right">
					<p>Copyright <i class="bx bx-copyright"></i>2021 Linka. Designed By<a href="https://envytheme.com/" target="blank"> EnvyTheme</a></p>
				</div>
			</div>
		</footer>
		<!-- End Footer Bottom Area -->
		
		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class='bx bx-chevrons-up'></i>
			<i class='bx bx-chevrons-up'></i>
		</div>
		<!-- End Go Top Area -->
		

        <!-- Jquery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle Min JS -->
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu Min JS -->
		<script src="assets/js/meanmenu.min.js"></script>
        <!-- Wow Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Owl Carousel Min JS -->
		<script src="assets/js/owl.carousel.min.js"></script>
        <!-- Owl Magnific Min JS -->
		<script src="assets/js/magnific-popup.min.js"></script>
        <!-- Nice Select Min JS -->
		<script src="assets/js/nice-select.min.js"></script>
		<!-- Form Validator Min JS -->
		<script src="assets/js/form-validator.min.js"></script>
		<!-- Contact JS -->
		<script src="assets/js/contact-form-script.js"></script>
		<!-- Ajaxchimp Min JS -->
		<script src="assets/js/ajaxchimp.min.js"></script>
        <!-- Custom JS -->
		<script src="assets/js/custom.js"></script>
    </body>
</html>